/*--------------------------------------------------------------
5. Slider
----------------------------------------------------------------*/
.cs-slider {
  position: relative;
}

.cs-slide {
  display: block !important;
}

.cs-remove__overflow {
  .slick-list {
    overflow: visible;
  }

  .slick-slide {
    opacity: 0;
    visibility: hidden;
    transition: all .30s linear;

    &.slick-active {
      opacity: 1;
      visibility: visible;
    }
  }
}

.cs-pagination.cs-style1 {
  display: flex;
  margin-top: 60px;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inherit !important;
  }

  li {
    height: 8px;
    width: 25px;
    background-color: $accent;
    border-radius: 3px;
    margin: 0 12px 0 0;
    cursor: pointer;
    transition: all 0.3s ease;

    &:last-child {
      margin-right: 0;
    }

    &.slick-active {
      background-color: $green;
    }
  }

  button {
    display: none;
  }
}

@media screen and (min-width: 1300px) {
  .cs-pagination.cs-style1.cs-type2 {
    margin: 0;
    position: absolute;
    right: -108px;
    top: 50%;
    transform: translateY(-50%);

    ul {
      flex-direction: column;
    }

    li {
      height: 25px;
      width: 8px;
      background-color: $green;
      border-radius: 6px;
      margin: 5px 0px;

      &.slick-active {
        background-color: $primary;
      }
    }
  }
}

.cs-slider__arrows.cs-style1 {
  .slick-arrow {
    position: absolute;
    height: 50px;
    width: 50px;
    box-shadow: 0px 0px 15px 0px rgba(38, 58, 93, 0.15);
    border-radius: 50%;
    top: 50%;
    margin-top: -25px;
    background-color: $white;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      color: $primary;
    }

    &.cs-left__arrow {
      left: -100px;
      padding-right: 2px;
    }

    &.cs-right__arrow {
      right: -100px;
      padding-left: 2px;
    }
  }

  &.cs-type1 {
    &.cs-left__arrow {
      left: 0px;
    }

    &.cs-right__arrow {
      right: 0px;
    }
  }

  &.cs-color1 {
    .slick-arrow {
      background-color: #5cbe2d;
      color: $primary;

      &:hover {
        color: $white;
      }
    }
  }
}

.cs-slider__arrows.cs-style2 {
  display: flex;

  .slick-arrow {
    font-size: 18px;
    cursor: pointer;
    padding: 15px;
    transition: all 0.3s ease;

    &:hover {
      color: $accent;
    }
  }
}

.slick-dotted:not(.slider-nav),
.slider-for {
  cursor: url(../img/drag.png) 16 9, ew-resize !important;
}

.cs-hidden {
  display: none !important;
}

.cs-hidden-desktop {
  display: none !important;
}

.cs-hidden-mobile {
  display: flex !important;
}

.cs-gap-30 {
  .slick-slide {
    padding: 15px;
  }

  .slick-list {
    margin: -15px;
  }
}

.slider-nav.cs-style1 {
  width: 150px;
  margin: auto;

  .slick-arrow,
  .slick-dots {
    display: none !important;
  }

  .slick-list.draggable {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
}

.slick-slide {
  &:not(.slick-center) {
    .slider-nav__item {
      cursor: pointer;
    }
  }
}

.slider-nav__item {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transition: all 0.3s ease;

  img {
    border-radius: inherit;
  }
}

.slick-center {
  .slider-nav__item {
    transform: scale(1.4);
  }
}

.slider-for {
  position: relative;

  .slick-arrow {
    position: absolute;
    height: 50px;
    width: 50px;
    box-shadow: 0px 0px 15px 0px rgba(38, 58, 93, 0.15);
    border-radius: 50%;
    top: calc(50% - 60px);
    margin-top: -25px;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
    background-color: #5cbe2d;
    color: #5cbe2d;
    overflow: hidden;

    &:before {
      content: '';
      height: 10px;
      width: 10px;
      position: absolute;
      border: 2px solid #263a5d;
      transform: rotate(45deg);
      transition: all 0.3s ease;
    }

    &:hover {
      &:before {
        border-color: #fff;
      }
    }
  }
}

.slider-for .slick-prev.slick-arrow {
  left: -100px;

  &:before {
    border-top: 0;
    top: 19px;
    left: 20px;
    border-right: 0;
  }
}

.slider-for .slick-next.slick-arrow {
  right: -100px;

  &:before {
    border-left: 0;
    border-bottom: 0;
    top: 19px;
    left: 18px;
  }
}

@media screen and (max-width: 1380px) {
  .cs-slider__arrows.cs-style1 .slick-arrow.cs-left__arrow {
    left: -25px;
  }

  .cs-slider__arrows.cs-style1 .slick-arrow.cs-right__arrow {
    right: -25px;
  }
}

@media screen and (max-width: 1199px) {
  .cs-slider__arrows.cs-style1 {
    display: none;
  }

  .cs-pagination.cs-style1.cs-hidden {
    display: flex !important;
  }

  .slider-for .slick-arrow {
    display: none !important;
  }
}

@media screen and (max-width: 991px) {
  .cs-hidden-mobile {
    display: none !important;
  }

  .cs-hidden-desktop {
    display: flex !important;
  }

  .cs-pagination.cs-style1 {
    margin-top: 40px;
  }
}

@media screen and (max-width: 575px) {
  .cs-pagination.cs-style1 li {
    height: 8px;
    width: 20px;
    margin: 0 8px 0 0;
  }
}
