/*--------------------------------------------------------------
2. Spacing
----------------------------------------------------------------*/
@media screen and (min-width: 992px) {
  .cs-height__0 {
    height: 0px
  }

  .cs-height__5 {
    height: 5px
  }

  .cs-height__10 {
    height: 10px
  }

  .cs-height__15 {
    height: 15px
  }

  .cs-height__20 {
    height: 20px
  }

  .cs-height__25 {
    height: 25px
  }

  .cs-height__30 {
    height: 30px
  }

  .cs-height__35 {
    height: 35px
  }

  .cs-height__40 {
    height: 40px
  }

  .cs-height__45 {
    height: 45px
  }

  .cs-height__50 {
    height: 50px
  }

  .cs-height__55 {
    height: 55px
  }

  .cs-height__60 {
    height: 60px
  }

  .cs-height__65 {
    height: 65px
  }

  .cs-height__70 {
    height: 70px
  }

  .cs-height__75 {
    height: 75px
  }

  .cs-height__80 {
    height: 80px
  }

  .cs-height__85 {
    height: 85px
  }

  .cs-height__90 {
    height: 90px
  }

  .cs-height__95 {
    height: 95px
  }

  .cs-height__100 {
    height: 100px
  }

  .cs-height__105 {
    height: 105px
  }

  .cs-height__110 {
    height: 110px
  }

  .cs-height__115 {
    height: 115px
  }

  .cs-height__120 {
    height: 120px
  }

  .cs-height__125 {
    height: 125px
  }

  .cs-height__130 {
    height: 130px
  }

  .cs-height__135 {
    height: 135px
  }

  .cs-height__140 {
    height: 140px
  }

  .cs-height__145 {
    height: 145px
  }

  .cs-height__150 {
    height: 150px
  }

  .cs-height__155 {
    height: 155px
  }

  .cs-height__160 {
    height: 160px
  }

  .cs-height__165 {
    height: 165px
  }

  .cs-height__170 {
    height: 170px
  }

  .cs-height__175 {
    height: 175px
  }

  .cs-height__180 {
    height: 180px
  }

  .cs-height__185 {
    height: 185px
  }

  .cs-height__190 {
    height: 190px
  }

  .cs-height__195 {
    height: 195px
  }

  .cs-height__200 {
    height: 200px
  }

  .cs-height__205 {
    height: 205px
  }

  .cs-height__210 {
    height: 210px
  }
}

@media screen and (max-width: 991px) {
  .cs-height__lg__0 {
    height: 0px
  }

  .cs-height__lg__5 {
    height: 5px
  }

  .cs-height__lg__10 {
    height: 10px
  }

  .cs-height__lg__15 {
    height: 15px
  }

  .cs-height__lg__20 {
    height: 20px
  }

  .cs-height__lg__25 {
    height: 25px
  }

  .cs-height__lg__30 {
    height: 30px
  }

  .cs-height__lg__35 {
    height: 35px
  }

  .cs-height__lg__40 {
    height: 40px
  }

  .cs-height__lg__45 {
    height: 45px
  }

  .cs-height__lg__50 {
    height: 50px
  }

  .cs-height__lg__55 {
    height: 55px
  }

  .cs-height__lg__60 {
    height: 60px
  }

  .cs-height__lg__65 {
    height: 65px
  }

  .cs-height__lg__70 {
    height: 70px
  }

  .cs-height__lg__75 {
    height: 75px
  }

  .cs-height__lg__80 {
    height: 80px
  }

  .cs-height__lg__85 {
    height: 85px
  }

  .cs-height__lg__90 {
    height: 90px
  }

  .cs-height__lg__95 {
    height: 95px
  }

  .cs-height__lg__100 {
    height: 100px
  }

  .cs-height__lg__105 {
    height: 105px
  }

  .cs-height__lg__110 {
    height: 110px
  }

  .cs-height__lg__115 {
    height: 115px
  }

  .cs-height__lg__120 {
    height: 120px
  }

  .cs-height__lg__125 {
    height: 125px
  }

  .cs-height__lg__130 {
    height: 130px
  }

  .cs-height__lg__135 {
    height: 135px
  }

  .cs-height__lg__140 {
    height: 140px
  }

  .cs-height__lg__145 {
    height: 145px
  }

  .cs-height__lg__150 {
    height: 150px
  }

  .cs-height__lg__155 {
    height: 155px
  }

  .cs-height__lg__160 {
    height: 160px
  }

  .cs-height__lg__165 {
    height: 165px
  }

  .cs-height__lg__170 {
    height: 170px
  }

  .cs-height__lg__175 {
    height: 175px
  }

  .cs-height__lg__180 {
    height: 180px
  }

  .cs-height__lg__185 {
    height: 185px
  }

  .cs-height__lg__190 {
    height: 190px
  }

  .cs-height__lg__195 {
    height: 195px
  }

  .cs-height__lg__200 {
    height: 200px
  }

  .cs-height__lg__205 {
    height: 205px
  }

  .cs-height__lg__210 {
    height: 210px
  }
}
