/*--------------------------------------------------------------
7. Video Popup
----------------------------------------------------------------*/
.cs-pd__video .cs-video__open,
.cs-sample__img .cs-video__open {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 68px;
  transition: all 0.3s ease;
  line-height: 48px;
}

.cs-pd__video .cs-video__open:hover,
.cs-sample__img .cs-video__open:hover {
  color: rgba(255, 255, 255, 0.7);
}

.cs-video__popup {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  left: -100%;
  transition-delay: 0.3s;
}

.cs-video__popup.active {
  left: 0;
  transition-delay: 0s;
  left: 0;
}

.cs-video__popup__overlay {
  position: absolute;
  left: 0;
  right: 0;
  background: #000;
  transition: all 0.4s ease-out;
  opacity: 0;
}

.cs-video__popup.active .cs-video__popup__overlay {
  opacity: 0.8;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.cs-video__popup__content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  font-size: 0;
  text-align: center;
  transition: all 0.4s ease-out;
  transform: translateY(100px);
  opacity: 0;
  visibility: hidden;
  padding: 15px;
}

.cs-video__popup.active .cs-video__popup__content {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.cs-video__popup__content:after {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.cs-video__popup__container {
  display: inline-block;
  position: relative;
  text-align: left;
  background: #fff;
  max-width: 1380px;
  width: 100%;
  vertical-align: middle;
}

.cs-video__popup__container .embed-responsive {
  width: 100%;
}

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

.embed-responsive-16by9::before {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.embed-responsive iframe,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.cs-video__popup__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background: #d90d0d;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.cs-video__popup iframe {
  width: 100%;
  height: 100%;
  position: absolute;
}

.cs-video__popup__close:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 1px;
  background: #fff;
  margin-left: -10px;
  transform: rotate(-45deg);
  transition: all 0.4s ease-in-out;
}

.cs-video__popup__close:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 1px;
  background: #fff;
  margin-left: -10px;
  transform: rotate(45deg);
  transition: all 0.4s ease-in-out;
}

.cs-video__popup__close:hover:before,
.cs-video__popup__close:hover:after {
  background: #000;
}

.cs-video__popup__layer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

.cs-video__popup__align {
  overflow: hidden;
}

/*End Video Popup*/
