/*--------------------------------------------------------------
16. Counter
----------------------------------------------------------------*/
.cs-counter.cs-style1 {
  .cs-counter__number {
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 15px;
    color: $accent;
    line-height: 1.25em;
  }

  .cs-counter__title {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 0;
  }
}

.cs-counter.cs-style2 {
  max-width: 210px;

  .cs-counter__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .cs-counter__number {
    font-size: 48px;
    font-weight: 800;
    line-height: 1em;
    margin-bottom: 20px;
    color: $primary;
  }

  .cs-counter__bar {
    height: 5px;
    border-radius: 2px;
    width: 100%;
  }

  &.cs-type1 {
    .cs-counter__number {
      font-size: 36px;
      margin-bottom: 15px;
    }

    .cs-counter__title {
      font-size: 18px;
    }
  }
}

.cs-counter.cs-style3 {
  display: flex;
  align-items: center;

  .cs-counter__icon {
    width: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    color: #5CBE2D;
    font-size: 90px;

    svg {
      width: 95px;
      height: 95px;
    }
  }

  .cs-counter__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .cs-counter__number {
    font-size: 48px;
    font-weight: 800;
    margin: 0;
    line-height: 1em;
  }
}

.cs-counter3__wrap__out {
  margin-top: -100px;
  position: relative;
  z-index: 5;
}

.cs-counter3__wrap {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 55px 0;
  border-radius: 5px;
  box-shadow: 0px 0px 32.5px 17.5px rgba(69, 59, 111, 0.1);

  .cs-counter.cs-style3 {
    padding: 20px 15px;
  }

  &.cs-color1 {
    background-color: #453b6f;

    .cs-counter__title,
    .cs-counter__number {
      color: #fff;
    }
  }
}

/* Odometer */
.odometer.odometer-auto-theme,
.odometer.odometer-auto-theme .odometer-digit,
.odometer.odometer-theme-default,
.odometer.odometer-theme-default .odometer-digit {
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  position: relative
}

.odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer,
.odometer.odometer-theme-default .odometer-digit .odometer-digit-spacer {
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  visibility: hidden
}

.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner,
.odometer.odometer-theme-default .odometer-digit .odometer-digit-inner {
  text-align: left;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden
}

.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon,
.odometer.odometer-theme-default .odometer-digit .odometer-ribbon {
  display: block
}

.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon-inner,
.odometer.odometer-theme-default .odometer-digit .odometer-ribbon-inner {
  display: block;
  -webkit-backface-visibility: hidden
}

.odometer.odometer-auto-theme .odometer-digit .odometer-value,
.odometer.odometer-theme-default .odometer-digit .odometer-value {
  display: block;
  -webkit-transform: translateZ(0)
}

.odometer.odometer-auto-theme .odometer-digit .odometer-value.odometer-last-value,
.odometer.odometer-theme-default .odometer-digit .odometer-value.odometer-last-value {
  position: absolute
}

.odometer.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner,
.odometer.odometer-theme-default.odometer-animating-up .odometer-ribbon-inner {
  transition: transform 2s
}

.odometer.odometer-auto-theme.odometer-animating-down .odometer-ribbon-inner,
.odometer.odometer-auto-theme.odometer-animating-up.odometer-animating .odometer-ribbon-inner,
.odometer.odometer-theme-default.odometer-animating-down .odometer-ribbon-inner,
.odometer.odometer-theme-default.odometer-animating-up.odometer-animating .odometer-ribbon-inner {
  transform: translateY(-100%)
}

.odometer.odometer-auto-theme.odometer-animating-down.odometer-animating .odometer-ribbon-inner,
.odometer.odometer-theme-default.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
  transition: transform 2s;
  transform: translateY(0)
}

.odometer.odometer-auto-theme,
.odometer.odometer-theme-default {
  line-height: 1.1em
}

.odometer.odometer-auto-theme .odometer-value,
.odometer.odometer-theme-default .odometer-value {
  text-align: center
}


@media screen and (max-width: 767px) {
  .cs-counter.cs-style1 .cs-counter__title {
    font-size: 22px;
  }

  .cs-counter.cs-style1 .cs-counter__number {
    font-size: 48px;
    margin-bottom: 0;
  }

  .cs-counter.cs-style3 .cs-counter__icon {
    width: 65px;
    font-size: 60px;
  }

  .cs-counter.cs-style3 .cs-counter__icon svg {
    width: 65px;
    height: 65px;
  }

  .cs-counter.cs-style3 .cs-counter__title {
    font-size: 22px;
  }

  .cs-counter.cs-style3 .cs-counter__number {
    font-size: 38px;
  }
}

@media screen and (max-width: 575px) {
  .cs-counter.cs-style2 {
    margin: auto;
    text-align: center;
  }

  .cs-counter.cs-style2 .cs-counter__title {
    font-size: 22px;
  }

  .cs-counter.cs-style2 .cs-counter__number {
    font-size: 38px;
  }
}
