/*--------------------------------------------------------------
25. Logo Carousel
----------------------------------------------------------------*/
.cs-logo__carousel.cs-style1 {
  min-height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  transition: all 0.3s ease;
}
