/*================================================
Pricing CSS
=================================================*/
.pricing-area {
  &.section-padding {
    padding-top: rem(125px);
  }

  .section-title-center {
    padding-bottom: rem(65px);

    @include md {
      h2 {
        font-size: rem(40px);
        font-weight: 700;
        line-height: 1.2;
        max-width: 52%;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .col-md-6,
  .col-lg-3 {
    padding-left: 3px;
    padding-right: 3px;
  }

  .tex {
    font-size: rem(18px);
    color: $black-550;
    margin-top: rem(60px);
  }

  .nav-item {
    width: 100%;

    .nav-link {
      width: 100%;
    }

    @include sm {
      width: auto;

      .nav-link {
        width: auto;
      }
    }
  }
}

.pricing-currency {
  width: rem(96px);
  height: rem(48px);
  line-height: rem(48px);
  border-color: #A0A1A3;
  font-size: 1rem;
  text-transform: uppercase;
  color: #6D6D6D;
  border-radius: rem(10px);
  float: right;

  @include sm {
    height: rem(55px);
    line-height: rem(55px);
  }

  @include after {
    border-bottom: 2px solid $gray;
    border-right: 2px solid $gray;
    content: '';
    display: block;
    @include size(10px);
    margin-top: -6px;
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 50%;
    transform-origin: 66% 66%;
    transform: rotate(45deg);
    transition: all 0.15s ease-in-out;
  }
}

.pricing-tabs {
  border: none;
  padding: rem(10px);
  border-radius: rem(10px);
  background: $white-800;
  display: inline-flex;

  .nav-link {
    padding: rem(5px) rem(18px);
    border-radius: rem(6px);
    font-size: 1rem;
    color: #6D6D6D;

    &.active {
      border-color: transparent;
      background: transparent;
      background: $red-700;
      color: $white;
    }

    @include hover {
      border-color: transparent;
    }
  }
}

.tab-pane {
  position: relative;

  @include lg {
    padding-top: rem(100px);
  }

  .popular {
    @include absolute(top 60px right 35%);
  }
}

.pricing-item {
  background: $white-700;
  border-radius: rem(20px);
  padding: rem(60px) rem(22px) rem(40px);
  margin-top: rem(30px);
  position: relative;
  border: 2px solid transparent;
  text-align: center;
  @include property;

  @include hover {
    background: rgba(255, 227, 218, 0.5);
    border-color: $black;
  }

  @include sm {
    text-align: left;
  }

  @include lg {
    text-align: center;
  }

  @include xl {
    text-align: left;
  }

  .badge {
    @include absolute(top -2px left 0 right 0);
    width: rem(125px);
    margin: 0 auto;
    border-radius: 0;
    @include radius(bottom, rem(10px));
    padding: 8px 25px;
    background: $red-700;
    color: $white;
    font-size: 1rem;
    font-weight: 600;
  }

  .pricing-title {
    font-size: rem(26px);
    font-weight: 500;
  }

  .price {
    font-size: rem(30px);
    color: $red-700;
    font-weight: 700;
    margin-top: rem(15px);

    sup {
      font-size: rem(14px);
      color: $black;
      font-weight: 400;
    }
  }

  .pricing-item-user {
    font-size: rem(14px);
    font-weight: $black-550;
    display: block;
    margin-top: rem(10px);
  }

  .pricing-btn {
    display: inline-block;
    border: 2px solid $red-700;
    background: $red-200;
    color: $red-700;
    border-radius: rem(6px);
    text-decoration: none;
    font-size: rem(18px);
    font-weight: 500;
    padding: rem(13px) rem(30px);
    margin-top: rem(35px);
    @include property;

    @include hover {
      background: $red-700;
      color: $white;
      border-color: $black-500;
    }
  }

  ul {
    padding-top: 20px;
  }

  li {
    font-size: rem(15px);
    padding-top: 15px;
    font-weight: 500;
  }

  &.active {
    background: rgba(255, 227, 218, 0.5);
    border-color: $black;

    .pricing-item-user {
      color: $red-700;
    }

    .pricing-btn {
      background: $red-700;
      color: $white;
      border: 2px solid $black-500;
    }
  }

  &.bg-yellow-200 {
    background: $yellow-200;
  }
}