// Basic Color
$white: #fff;
$black: #000;
$primary: #263a5d;
$secondary: #5d6b85;
$ternary: #A6A6A6;
$border: #e9e3fb;
$gray: #fbfbfd;
$light-gray: #fafafa;

// Accent color
$accent: #5e2ced;
$navyblue: #0e0c78;
$green: #5cbe2d;
$pink: #fb4c9b;
$yellow: #ecbf24;

